.App {
  text-align: center;
  padding: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 100px);  
  grid-gap: 10px;                       
  justify-content: center;                
  align-items: center;                     
  margin-top: 50px;                       
}

.square {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.timer {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.score {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
  color: #333;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.main-menu {
  text-align: center;
  margin-top: 50px;
}

.leaderboard {
  margin: 20px auto;
  max-width: 300px;
  text-align: left;
}

.leaderboard h2 {
  text-align: center;
}

.leaderboard ul {
  list-style: none;
  padding: 0;
}

.leaderboard li {
  background: #f4f4f4;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.username-input {
  margin: 20px 0;
}

.username-input input {
  padding: 10px;
  font-size: 1rem;
  width: 80%;
  max-width: 300px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}